---
---

<header class="flex w-full justify-between items-center py-2 px-20 overflow-x-hidden">
    <a href="/"><img data-aos="fade-down" class="w-10" src="../img/raja-logo.png" alt="raja meissner logo"></a>
    
    <!-- NAV DESKTOP -->
    <nav id="nav-menu" class="hidden lg:flex relative">
        <span id="hover-line" class="absolute bottom-0 h-[2px] bg-black transition-all duration-300 opacity-0"></span>

        <a data-aos="fade-down" data-aos-delay="50" href="/" class="nav-link px-4 py-2">HOME</a>
        <a data-aos="fade-down" data-aos-delay="100" href="/#about" class="nav-link px-4 py-2">ABOUT ME</a>
        <a data-aos="fade-down" data-aos-delay="150" href="/#merch" class="nav-link px-4 py-2">MERCH</a>
        <a data-aos="fade-down" data-aos-delay="200" href="/#sponsors" class="nav-link px-4 py-2">SPONSORS</a>
        <a data-aos="fade-down" data-aos-delay="250" href="/project" class="nav-link px-4 py-2">PROJECTS</a>
    </nav>

    <button id="menu-toggle" class="lg:hidden text-black text-3xl">
      <i class="fa-solid fa-bars"></i>
    </button>

    
</header>
<!-- NAV MÓVIL -->
<nav id="nav-menu-2" class="absolute z-50 inset-0 w-full min-h-screen bg-white/50 backdrop-blur-md text-black flex flex-col items-center justify-center gap-4 duration-300 opacity-0 invisible overflow-x-hidden">
  <button id="close-menu" class="absolute top-6 right-20 text-3xl">
    <i class="fa-solid fa-x"></i>
  </button>
  <a href="/" class="nav-link text-xl m-7">HOME</a>
  <a href="/#about" class="nav-link text-xl m-7">ABOUT ME</a>
  <a href="/#merch" class="nav-link text-xl m-7">MERCH</a>
  <a href="/#artist" class="nav-link text-xl m-7">SPONSORS</a>
  <a href="/project" class="nav-link text-xl m-7">PROJECTS</a>
</nav>